body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

.thumb {
  position: fixed;
  left: 10px;
  bottom: 10px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 8px;
  z-index: 9999;
  width: 300px;
}

.thumb img {
  max-width: 100%;
  border-radius: 8px;
}